@charset "utf-8";


/* 공통영역 선언시작 */
select::-ms-expand {
    display: none;
}


/* 개별영역 선언시작 */
/* ***************** header Area Start ******************** */
header {
    width: 100%;
    height: 100px;
    max-width: 2200px;
    min-width: 1383px;
    background-color: #fff;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}
header .container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 5%;
}
/* logo */
header .logo {
    width: 82px;
    height: 55px;
    float: left;
    margin-top: 23px;
}
header .logo a,
header .logo a img {
    display: block;
    width: 100%;
    height: 100%;
}
/* nav */
nav {
    width: 40%;
    height: 100%;
    position: absolute; 
    left: 50%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
nav > div {
    width: 100%;
    height: 100%;
}
nav .gnb {
    width: 100%;
    height: 100%;
}
nav .gnb > li {
    width: calc(100% / 6 - 2%);
    height: 100%;
    float: left;
    position: relative;
}
nav .gnb > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 40px;
}
nav .gnb > li > a:hover {
    color: #1f5153;
}
nav .gnb > li > ul {
    display: none;
    width: 180px;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
nav .gnb > li > ul > li {
    width: 100%;
    border-top: 1px solid #f0f0f0;
}
nav .gnb > li > ul > li > a {
    display: block;
    font-size: 1.6rem;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
    padding: 20px 24px;
}
nav .gnb > li > ul > li > a:hover {
    background-color: #1f5153;
    color: #fff;
}
/* mob_booking_btn */
nav .mob_booking_btn {
    display: none;
}
/* submenu */
.submenu {
    float: right;
    position: absolute;
    top: 0;
    right: -65%;
    margin: 42px 72px 0 0;
}
.submenu > li {
    float: left;
    position: relative;
    margin-right: 20px;
}
.submenu > li::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    position: absolute;
    top: 5px;
    right: -10px;
}
.submenu > li:nth-child(3) {
    position: relative;
    padding-right: 20px;
}
.submenu > li:nth-child(3) > a::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url(../images/main/icon-link-black-24-dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.submenu > li:nth-child(3) > a:hover::after {
    background-image: url(../images/main/icon-link-green-24-dp.svg);
}
.submenu > li:last-child::after {
    display: none;
}
.submenu > li > a:hover {
    color: #1f5153;
}
.submenu > li > select {
    height: 24px;
    color: #333;
    border: 1px solid #fff;
    font-size: 1.4rem;
    font-weight: 500;
    background: url(../images/main/ic-dropdown-black-12-dp.svg) no-repeat;
    background-position: right 8px center;
    background-size: 10px;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    
    padding: 0 24px 0 12px;
}
/* gnb_all_btn */
.gnb_all_btn {
    width: 40px;
    height: 40px;
    position: absolute; 
    right: 5%; 
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    background-color: #1f5153;
    z-index: 20;
}
.gnb_all_btn > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 11px;
}
.gnb_all_btn > a > span {
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gnb_all_btn > a > span:nth-child(2),
.gnb_all_btn > a > span:nth-child(3) {
    margin-top: 6px;    
}
.gnb_all_btn > a > span.on:first-child {
    width: 23px;
    transform-origin: 0% 0%;
    transform: rotate( 45deg );
}
.gnb_all_btn > a > span.on:nth-child(2) {
    width: 0;
}
.gnb_all_btn > a > span.on:nth-child(3) {
    width: 23px;
    transform-origin: 0% 100%;
    transform: rotate( -45deg );
}
/* gnb_mob_btn */
.gnb_mob_btn {
    display: none;
}
/* gnb_all */
.gnb_all {
    width: 100%;
    position: absolute;
    left: 0;
    top: -600px;
    z-index: -1;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gnb_all.on {
    top: 0;
    z-index: 10;
}
.gnb_all .gnb_all_top {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
}
.gnb_all .gnb_all_top > a {
    display: inline-block;
    width: 80px;
    height: 55px;
}
.gnb_all .gnb_all_bottom {
    width: 100%;
    height: 472px;
    background-color: #1f5153;
    padding: 32px 0 40px;
}
.gnb_all .gnb_all_bottom nav {
    width: 1045px;
    margin: 0 auto;
}
.gnb_all .gnb_all_bottom nav > ul {
    width: 14%;
    float: left;
}
.gnb_all .gnb_all_bottom nav > ul > li {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 28px;
}
.gnb_all .gnb_all_bottom nav > ul > li:first-child {
    font-size: 18px;
    font-weight: bold;
}
.gnb_all .gnb_all_bottom nav > ul > li > a {
    color: #fff;
}




/* ***************** footer Area Start ******************** */
footer {
    width: 100%;
    background-color: #303233;
}
footer .container {
    width: 100%;
    padding: 64px calc(5.2% * 2);
}
footer .footer_top {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
}
footer .logo_links {
    margin-bottom: 20px;
}
footer .logo_box {
    float: left;
}
footer .logo_box > a:first-child {
    display: inline-block;
    width: 70px;
    height: 54px;
    margin-right: 38px;
}
footer .link_box {
    float: right;
    padding-top: 30px;
}
footer .link_box > a {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    padding-right: 40px;
}
footer .link_box > a::after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
    position: absolute;
    top: 5px;
    right: 20px;
}
footer .link_box select {
    height: 34px;
    background: url(../images/main/btn-btn-profile-down.svg) no-repeat;
    background-position: right 8px center;
    background-size: 10px;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid #333;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    
    padding: 0 22px 0 10px;
}
footer .link_box select option {
    color: #000;
}
footer .address_sns address {
    display: block;
    float: left;
    font-style: normal;
    color: #999;
    line-height: 2;
}
footer .address_sns .sns_box {
    display: flex;
    float: right;
    padding-top: 40px;
}
footer .address_sns .sns_box a {
    display: block;
    width: 32px;
    height: 32px;
}
footer .address_sns .sns_box a:first-child {
    background: url(../images/main/ic-facebook-white-32-dp.svg) no-repeat center center;
    background-size: cover;
    margin-right: 10px;
}
footer .address_sns .sns_box a:last-child {
    background: url(../images/main/ic-instagram-white-32-dp.svg) no-repeat center center;
    background-size: cover;
}
footer .footer_bottom {
    padding-top: 24px;
}
footer .footer_bottom .copyright {
    font-weight: bold;
    color: #999;
}




/* ****************** media Query **********************/
@media screen and (max-width: 768px){
    header {
        height: 56px;
        max-width: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
    header.on {
        position: fixed;
    }
    header .container {
        padding: 0 16px;
    }
    header .logo {
        width: 48px;
        height: 33px;
        margin: 11px 0;
    }
    /* nav */
    nav {
        display: none;
        width: 100%;
        height: calc(100% - 56px + 1px);
        position: fixed;
        left: 0;
        top: 56px;
        background-color: #fff;
        border-top: 1px solid #e0e0e0;
        overflow: auto;
        padding: 0 16px;

        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    nav > div {
        height: calc(100% - 77px - 50px);
    }
    nav > div.on {
        height: auto;
    }
    nav .gnb {
        height: auto;
    }
    nav .gnb > li {
        width: 100%;
        height: auto;
        float: none;
    }
    nav .gnb > li > a {
        height: auto;
        text-align: left;
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        padding: 18px 16px;
    }
    nav .gnb > li > a:hover {
        color: #000;
    }
    nav .gnb > li > a::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/main/ic-angle-down-black-24-dp.svg) no-repeat center / 10px;
        position: absolute;
        right: 8px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    nav .gnb > li > ul {
        display: none;
        width: 100%;
        opacity: 1;
        background-color: #f8f9fa;
        position: static;
        top: 0;
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        padding: 14px 32px;
    }
    nav .gnb > li > ul > li {
        border-top: none;
    }
    nav .gnb > li > ul > li > a {
        padding: 10px 0;
    }
    nav .gnb > li > ul > li > a:hover {
        background-color: rgba(0, 0, 0, 0);
        color: #000;
    }
    /* mob_booking_btn */
    nav .mob_booking_btn {
        display: block;
        width: 200px;
        text-align: center;
        border: 1px solid #1f5153;
        background-color: #1f5153;
        color: #fff;
        padding: 13px 28px;
        margin: 30px auto;

        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    /* submenu */
    .submenu {
        width: 340px;
        float: none;
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto;
        padding: 24px 0;
    }
    /* gnb_all_btn */
    .gnb_all_btn {
        display: none;
    }
    /* gnb_mob_btn */
    .gnb_mob_btn {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 16px;
        top: 20px;
        z-index: 100;
    }
    .gnb_mob_btn > a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .gnb_mob_btn > a > span {
        display: block;
        width: 18px;
        height: 2px;
        background: #000;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .gnb_mob_btn > a > span:nth-child(2),
    .gnb_mob_btn > a > span:nth-child(3) {
        margin-top: 6px;    
    }
    .gnb_mob_btn > a > span.on:first-child {
        width: 23px;
        transform-origin: 0% 0%;
        transform: rotate( 45deg );
    }
    .gnb_mob_btn > a > span.on:nth-child(2) {
        width: 0;
    }
    .gnb_mob_btn > a > span.on:nth-child(3) {
        width: 23px;
        transform-origin: 0% 100%;
        transform: rotate( -45deg );
    }
}