@charset "utf-8";


/* 공통영역 선언시작 */
select::-ms-expand {
    display: none;
}


section {
    max-width: 2200px;
    min-width: 1383px;
    margin: 0 auto;
}


/* 개별영역 선언시작 */
/* ***************** header Area Start ******************** */
header {
    width: 100%;
    height: 100px;
    max-width: 2200px;
    min-width: 1383px;
    background-color: #fff;
    position: relative;
    z-index: 100;
    margin: 0 auto;
}
header .container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 5%;
}
/* logo */
header .logo {
    width: 82px;
    height: 55px;
    float: left;
    margin-top: 23px;
}
header .logo a,
header .logo a img {
    display: block;
    width: 100%;
    height: 100%;
}
/* nav */
header .main_nav {
    width: 40%;
    height: 100%;
    position: absolute; 
    left: 50%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
header .main_nav > div {
    width: 100%;
    height: 100%;
}
header .main_nav .gnb {
    width: 100%;
    height: 100%;
}
header .main_nav .gnb > li {
    width: calc(100% / 6 - 2%);
    height: 100%;
    float: left;
    position: relative;
}
header .main_nav .gnb > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 40px;
}
header .main_nav .gnb > li > a:hover {
    color: #1f5153;
}
header .main_nav .gnb > li > ul {
    display: none;
    width: 180px;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
header .main_nav .gnb > li > ul > li {
    width: 100%;
    border-top: 1px solid #f0f0f0;
}
header .main_nav .gnb > li > ul > li > a {
    display: block;
    font-size: 1.6rem;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
    padding: 20px 24px;
}
header .main_nav .gnb > li > ul > li > a:hover {
    background-color: #1f5153;
    color: #fff;
}
/* mob_booking_btn */
header .main_nav .mob_booking_btn {
    display: none;
}
/* submenu */
.submenu {
    float: right;
    position: absolute;
    top: 0;
    right: -65%;
    margin: 42px 72px 0 0;
}
.submenu > li {
    float: left;
    position: relative;
    margin-right: 20px;
}
.submenu > li::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    position: absolute;
    top: 5px;
    right: -10px;
}
.submenu > li:nth-child(3) {
    position: relative;
    padding-right: 20px;
}
.submenu > li:nth-child(3) > a::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url(../images/main/icon-link-black-24-dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.submenu > li:nth-child(3) > a:hover::after {
    background-image: url(../images/main/icon-link-green-24-dp.svg);
}
.submenu > li:last-child::after {
    display: none;
}
.submenu > li > a:hover {
    color: #1f5153;
}
.submenu > li > select {
    height: 24px;
    color: #333;
    border: 1px solid #fff;
    font-size: 1.4rem;
    font-weight: 500;
    background: url(../images/main/ic-dropdown-black-12-dp.svg) no-repeat;
    background-position: right 8px center;
    background-size: 10px;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    
    padding: 0 24px 0 12px;
}
/* gnb_all_btn */
.gnb_all_btn {
    width: 40px;
    height: 40px;
    position: absolute; 
    right: 5%; 
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    background-color: #1f5153;
    z-index: 20;
}
.gnb_all_btn > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 11px;
}
.gnb_all_btn > a > span {
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gnb_all_btn > a > span:nth-child(2),
.gnb_all_btn > a > span:nth-child(3) {
    margin-top: 6px;    
}
.gnb_all_btn > a > span.on:first-child {
    width: 23px;
    transform-origin: 0% 0%;
    transform: rotate( 45deg );
}
.gnb_all_btn > a > span.on:nth-child(2) {
    width: 0;
}
.gnb_all_btn > a > span.on:nth-child(3) {
    width: 23px;
    transform-origin: 0% 100%;
    transform: rotate( -45deg );
}
/* gnb_mob_btn */
.gnb_mob_btn {
    display: none;
}
/* gnb_all */
.gnb_all {
    width: 100%;
    position: absolute;
    left: 0;
    top: -600px;
    z-index: -1;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gnb_all.on {
    top: 0;
    z-index: 10;
}
.gnb_all .gnb_all_top {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
}
.gnb_all .gnb_all_top > a {
    display: inline-block;
    width: 80px;
    height: 55px;
}
.gnb_all .gnb_all_bottom {
    width: 100%;
    height: 472px;
    background-color: #1f5153;
    padding: 32px 0 40px;
}
.gnb_all .gnb_all_bottom nav {
    width: 1045px;
    margin: 0 auto;
}
.gnb_all .gnb_all_bottom nav > ul {
    width: 14%;
    float: left;
}
.gnb_all .gnb_all_bottom nav > ul > li {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 28px;
}
.gnb_all .gnb_all_bottom nav > ul > li:first-child {
    font-size: 18px;
    font-weight: bold;
}
.gnb_all .gnb_all_bottom nav > ul > li > a {
    color: #fff;
}
/* sitemap */
.sitemap {
    display: none;
}




/* ***************** sub_nav Area Start ******************** */
.contents_wrap {
    position: relative;
    overflow-x: hidden;
    padding-top: 0;
}
.contents_wrap .sub_nav {
    width: 100%;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.contents_wrap .sub_nav.on {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contents_wrap .sub_nav .container {
    width: 1280px;
    margin: 0 auto;
}
.contents_wrap .sub_nav .container > ul > li {
    height: 50px;
    float: left;
    border-right: 1px solid #eaeaea;
    position: relative;
}
.contents_wrap .sub_nav .container > ul > li:first-child {
    width: 50px;
    border-left: 1px solid #eaeaea;
    background: url(../images/sub/ic-home-black-18-dp.svg) no-repeat center center / 15px;
}
.contents_wrap .sub_nav .container > ul > li:nth-child(2),
.contents_wrap .sub_nav .container > ul > li:nth-child(3) {
    width: 165px;
    background: url(../images/sub/ic-dropdown-black-12-dp.svg) no-repeat right 15px center / 8px;
    cursor: pointer;
    padding: 15px;
}
.contents_wrap .sub_nav .container > ul ul {
    display: none;
    width: calc(100% + 1px);
    border: 1px solid #eaeaea;
    border-top: none;
    background: #fff;
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 1;
    padding: 8px 0;
}
.contents_wrap .sub_nav .container > ul ul > li > a {
    display: block;
    color: #999;
    padding: 8px 15px;
}
.contents_wrap .sub_nav .container > ul ul > li > a.on {
    color: #1f5153;
}
.contents_wrap .sub_nav .container > ul ul > li > a:hover {
    color: #1f5153;
}
.contents_wrap .sub_nav .container_mob {
    display: none;
}




/* ***************** main_newsletter Area Start ******************** */
.main_newsletter {
    width: 100%;
    position: relative;
    background: #fff url(../images/main/nsl_logo.svg) no-repeat right 79px bottom -48px;
    background-size: 414px auto;
    border-top: 1px solid #ccc;
    padding: 48px 0 60px 0;
}
.main_newsletter h2 {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
}
.main_newsletter p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 22px;
}
.main_newsletter form {
    text-align: center;
}
.main_newsletter form input:first-child {
    display: inline-block;
    width: 320px;
    height: 44px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    color: #333;
    padding: 0 24px;
    margin-right: -4px;
}
.main_newsletter form input:last-child {
    display: inline-block;
    width: 108px;
    height: 44px;
    color: #fff;
    background-color: #1f5153;
    border: 1px solid #1f5153;
    font-weight: 700;
    text-align: center;
}




/* ***************** footer Area Start ******************** */
footer {
    width: 100%;
    background-color: #303233;
}
footer .container {
    width: 100%;
    padding: 64px calc(5.2% * 2);
}
footer .footer_top {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
}
footer .logo_links {
    margin-bottom: 20px;
}
footer .logo_box {
    float: left;
}
footer .logo_box > a:first-child {
    display: inline-block;
    width: 70px;
    height: 54px;
    margin-right: 38px;
}
footer .link_box {
    float: right;
    padding-top: 30px;
}
footer .link_box > a {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    padding-right: 40px;
}
footer .link_box > a::after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
    position: absolute;
    top: 5px;
    right: 20px;
}
footer .link_box select {
    height: 34px;
    background: url(../images/main/btn-btn-profile-down.svg) no-repeat;
    background-position: right 8px center;
    background-size: 10px;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid #333;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    
    padding: 0 22px 0 10px;
}
footer .link_box select option {
    color: #000;
}
footer .address_sns address {
    display: block;
    float: left;
    font-style: normal;
    color: #999;
    line-height: 2;
}
footer .address_sns .sns_box {
    display: flex;
    float: right;
    padding-top: 40px;
}
footer .address_sns .sns_box a {
    display: block;
    width: 32px;
    height: 32px;
}
footer .address_sns .sns_box a:first-child {
    background: url(../images/main/ic-facebook-white-32-dp.svg) no-repeat center center;
    background-size: cover;
    margin-right: 10px;
}
footer .address_sns .sns_box a:last-child {
    background: url(../images/main/ic-instagram-white-32-dp.svg) no-repeat center center;
    background-size: cover;
}
footer .footer_bottom {
    padding-top: 24px;
}
footer .footer_bottom .copyright {
    font-weight: bold;
    color: #999;
}




/* ****************** media Query **********************/
@media screen and (max-width: 768px){

    /* ********* header ********* */
    header {
        height: 56px;
        max-width: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
    header.on {
        position: fixed;
    }
    header .container {
        padding: 0 16px;
    }
    header .logo {
        width: 48px;
        height: 33px;
        margin: 11px 0;
    }
    /* nav */
    header .main_nav {
        display: none;
    }
    /* submenu */
    .submenu {
        display: none;
    }
    /* gnb_all_btn */
    .gnb_all_btn {
        display: none;
    }
    /* gnb_mob_btn */
    .gnb_mob_btn {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 16px;
        top: 20px;
        z-index: 100;
    }
    .gnb_mob_btn > a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .gnb_mob_btn > a > span {
        display: block;
        width: 18px;
        height: 2px;
        background: #000;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .gnb_mob_btn > a > span:nth-child(2),
    .gnb_mob_btn > a > span:nth-child(3) {
        margin-top: 6px;    
    }
    .gnb_mob_btn > a > span.on:first-child {
        width: 23px;
        transform-origin: 0% 0%;
        transform: rotate( 45deg );
    }
    .gnb_mob_btn > a > span.on:nth-child(2) {
        width: 0;
    }
    .gnb_mob_btn > a > span.on:nth-child(3) {
        width: 23px;
        transform-origin: 0% 100%;
        transform: rotate( -45deg );
    }
    /* sitemap */
    .sitemap {
        display: none;
        width: 100%;
        height: calc(100% - 56px + 1px);
        position: fixed;
        left: 0;
        top: 56px;
    }
    .sitemap .sitemap_body {
        height: 100%;
        background-color: #fff;
        overflow: auto;
        padding: 0 16px;
    }
    .sitemap .sitemap_body .sitemap_gnb {
        min-height: calc(100% - 77px - 50px); 
    }
    .sitemap .sitemap_body .sitemap_gnb li {
        width: 100%;
    }
    .sitemap .sitemap_body .sitemap_gnb li .gnb_tit {
        display: block;
        position: relative;
        border-bottom: 1px solid #f0f0f0;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 18px 16px;
    }
    .sitemap .sitemap_body .sitemap_gnb li .gnb_tit.on {
        color: #1f5153;
    }
    .sitemap .sitemap_body .sitemap_gnb li .gnb_tit::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/main/ic-angle-down-black-24-dp.svg) no-repeat center / 10px;
        position: absolute;
        right: 8px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }
    .sitemap .sitemap_body .sitemap_gnb li .gnb_tit.on::after {
        background: url(../images/main/ic-angle-down-black-24-dp.svg) no-repeat center / 10px;
        
        -webkit-transform: translateY(-50%) rotate(180deg);
        -moz-transform: translateY(-50%) rotate(180deg);
        -o-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
    }
    .sitemap .sitemap_body .sitemap_gnb li .gnb_subtits {
        display: none;
        padding: 14px 32px;
        background-color: #f8f9fa;
    }
    .sitemap .sitemap_body .sitemap_gnb li .gnb_subtits li a {
        display: block;
        font-size: 1.6rem;
        padding: 10px 0;
    }
    .sitemap .sitemap_body .sitemap_gnb .btn_reservation {
        display: block;
        max-width: 200px;
        border: 1px solid #1f5153;
        background-color: #1f5153;
        text-align: center;
        margin: 30px auto;
        padding: 13px 28px;
    }
    .sitemap .sitemap_body .sitemap_gnb .btn_reservation span {
        font-size: 1.4rem;
        font-weight: 500;
        color: #fff;
    }
    .sitemap .sitemap_body .submenu_list {
        text-align: center;
        padding: 24px 0;
    }
    .sitemap .sitemap_body .submenu_list ul {
        display: inline-block;
    }
    .sitemap .sitemap_body .submenu_list ul li {
        float: left;
        margin-right: 8px;
    }
    .sitemap .sitemap_body .submenu_list ul li:last-child {
        margin-right: 0;
    }
    .sitemap .sitemap_body .submenu_list ul li::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.12);
        margin-left: 8px;
    }
    .sitemap .sitemap_body .submenu_list ul li:last-child::after {
        display: none;
    }
    .sitemap .sitemap_body .submenu_list ul li a {
        font-size: 14px;
        font-weight: 500;
    }
    .sitemap .sitemap_body .submenu_list ul li.to_link a::after {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../images/main/icon-link-black-24-dp.svg) no-repeat center / 12px;
        vertical-align: -3px;
    }
    .sitemap .sitemap_body .submenu_list ul li select {
        height: 24px;
        outline: none;
        border: 1px solid #fff;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/main/ic-dropdown-black-12-dp.svg) no-repeat;
        background-position: right 8px center;
        background-size: 10px;
        color: #333;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0 24px 0 0;
    }
    


    
    /* ********* sub_nav ********* */
    .contents_wrap .sub_nav {
        height: 52px;
        top: 56px;
    }
    .contents_wrap .sub_nav .container {
        display: none;
    }
    .contents_wrap .sub_nav .container_mob {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }
    .contents_wrap .sub_nav .container_mob ul {
        white-space: nowrap;
        overflow-x: auto;
    }
    .contents_wrap .sub_nav .container_mob ul li {
        display: inline-block;
        margin-right: 24px;
    }
    .contents_wrap .sub_nav .container_mob ul li a {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 500;
        position: relative;
        padding: 15px 0;
    }
    .contents_wrap .sub_nav .container_mob ul li:first-child a {
        color: #1f5153;
    }
    .contents_wrap .sub_nav .container_mob ul li:first-child a::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #1f5153;
        position: absolute;
        bottom: 0;
        left: 0;
    }




    /* ******** main_newsletter ********* */
    .main_newsletter {
        text-align: center;
        border-top: 1px solid #f0f0f0;
        background: #fff url(../images/main/nsl_logo.svg) no-repeat right -12px bottom -9px;
        background-size: 207px auto;
        padding: 20px 24px 32px;
    }
    .main_newsletter h2 {
        font-size: 2.1rem;
        margin-bottom: 10px;
    }
    .main_newsletter p {
        font-size: 1.4rem;
        line-height: 1.7;
    }
    .main_newsletter p > span {
        display: block;
    }
    .main_newsletter form {
        margin-top: 20px;
    }
    .main_newsletter form input:first-child {
        width: calc(100% - 88px);
        height: 40px;
        font-size: 1.4rem;
        border: 1px solid #e0e0e0;
        padding: 0 20px;
    }
    .main_newsletter form input:last-child {
        width: 88px;
        height: 40px;
        font-size: 1.2rem;
        padding: 12px 0;
    }



    /* ********* footer ********* */
    footer {
        padding: 28px 0;
    }
    footer .container {
        padding: 0 16px;
    }
    footer .footer_top {
        margin-bottom: 10px;
        padding-bottom: 0;
    }
    footer .logo_links {
        text-align: center;
        margin-bottom: 0px;
    }
    footer .logo_box {
        display: none;
        float: none;
    }
    footer .link_box {
        display: inline-block;
        float: none;
        padding-top: 0;
    }
    footer .link_box > a {
        font-size: 1.2rem;
        padding-right: 16px;
    }
    footer .link_box > a::after {
        height: 10px;
        top: 5px;
        right: 8px;
    }
    footer .link_box > a:nth-child(4) {
        padding-right: 0;
    }
    footer .link_box > a:nth-child(4)::after {
        display: none;
    }
    footer .link_box select {
        display: block;
        height: 30px;
        background: url(../images/main/btn-btn-profile-down.svg) no-repeat;
        background-position: right 8px center;
        background-size: 8px;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        border: 1px solid #bdbdbd;
        /* position: relative; */

        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        
        padding: 0 22px 0 10px;
        margin: 10px auto;
    }
    footer .address_sns {
        margin-bottom: 10px;
    }
    footer .address_sns address {
        display: block;
        float: none;
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: center;
        word-break: keep-all;
        margin-bottom: 10px;
    }
    footer .address_sns .sns_box {
        display: block;
        float: none;
        padding-top: 0;
        text-align: center;
    }
    footer .address_sns .sns_box a {
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    footer .address_sns .sns_box a:first-child {
        margin-right: 20px;
    }
    footer .footer_bottom {
        text-align: center;
        padding-top: 0;
    }
    footer .footer_bottom .copyright {
        font-size: 1.2rem;
    }
}