@charset "utf-8";




.contents_wrap .contents .container {
    width: 1280px;
    margin: 0 auto;
}
.contents_wrap .contents .container .bg_txt {
    height: 174px;
    position: absolute;
    top: 15px;
    left: 100%;
    z-index: -1;

    -webkit-animation: bgTxtMove 1.2s ease-out 0.3s forwards;
    -moz-animation: bgTxtMove 1.2s ease-out 0.3s forwards;
    -o-animation: bgTxtMove 1.2s ease-out 0.3s forwards;
    -ms-animation: bgTxtMove 1.2s ease-out 0.3s forwards;
    animation: bgTxtMove 1.2s ease-out 0.3s forwards;
}



/* *************** admission Area Start **************** */
.contents_wrap .contents .container .bg_txt.guide {
    width: 773px;
    background: url(../images/sub/guide.svg) no-repeat center;
}
.contents_wrap .contents .admission h2 {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    padding: 120px 0 80px;
}
.contents_wrap .contents .admission h3 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 18px;
}
.contents_wrap .contents .admission h3 .red {
    font-size: 1.4rem;
    font-weight: 400;
    color: #f00;
}
.contents_wrap .contents .admission table {
    width: 100%;
    border: 0;
    border-top: 2px solid #000;
    margin-bottom: 52px;
}
.contents_wrap .contents .admission table tr,
.contents_wrap .contents .admission table th,
.contents_wrap .contents .admission table td {
    font-size: 1.6rem;
    font-weight: 400;
    border: 0;
    vertical-align: middle;
}
.contents_wrap .contents .admission table thead th {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    padding: 20px 0;
}
.contents_wrap .contents .admission table thead th:first-child {
    width: 20%;
    border-left: none;
}
.contents_wrap .contents .admission table thead th:nth-child(2),
.contents_wrap .contents .admission table thead th:last-child {
    width: 40%;
}
.contents_wrap .contents .admission table thead th:last-child {
    border-right: none;
}
.contents_wrap .contents .admission table tbody th,
.contents_wrap .contents .admission table tbody td {
    border: 1px solid #e0e0e0;
    padding: 20px 0;
}
.contents_wrap .contents .admission table tbody th {
    border-left: none;
}
.contents_wrap .contents .admission table tbody td {
    text-align: center;
    color: #666;
}
.contents_wrap .contents .admission table tbody td:last-child {
    border-right: none;
}
.contents_wrap .contents .admission table tbody td .strong {
    font-size: 1.8rem;
    font-weight: 700;
}
.contents_wrap .contents .admission table tbody td .red {
    color: #f00;
}
.contents_wrap .contents .admission table.three thead th:first-child {
    width: 19%;
}
.contents_wrap .contents .admission table.three thead th:nth-child(2) {
    width: 27%;
}
.contents_wrap .contents .admission table.three thead th:nth-child(3) {
    width: 27%;
}
.contents_wrap .contents .admission table.three thead th:nth-child(4) {
    width: 27%;
}
.contents_wrap .contents .admission ul li {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    text-indent: -15px;
    padding-left: 17px;
    margin-bottom: 5px;
}
.contents_wrap .contents .admission ul li::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #1f5153;
    vertical-align: 5px;
    margin-right: 10px;
}
.contents_wrap .contents .admission .booking {
    text-align: center;
    margin: 50px 0;
}
.contents_wrap .contents .admission .booking a {
    display: inline-block;
    font-size: 1.6rem;
    border: 1px solid #1f5153;
    background-color: #fff;
    padding: 15px 32px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.contents_wrap .contents .admission .booking a:hover {
    background-color: #1f5153;
    color: #fff;
}
.contents_wrap .contents .admission .title_red {
    font-size: 1.4rem;
    color: #f00;
    margin-bottom: 18px;
}
.contents_wrap .contents .admission ul.last {
    margin-bottom: 140px;
}




/* *************** exhibition Area Start **************** */
.contents_wrap .contents .container .bg_txt.exhibition {
    width: 1363px;
    background: url(../images/sub/exhibition.svg) no-repeat center;
}
.contents_wrap .contents .exhibition h2 {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    padding: 120px 0 80px;
}
.contents_wrap .contents .exhibition .top_btn_area {
    width: 100%;
    border-bottom: 2px solid #333;
}
.contents_wrap .contents .exhibition .top_btn_area a {
    display: block;
    float: right;
    font-size: 1.6rem;
    font-weight: 500;
    color: #266466;
    position: relative;
    padding-bottom: 16px;
    padding-right: 40px;
}
.contents_wrap .contents .exhibition .top_btn_area a::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/sub/ic-arrow-right-green-24-dp.svg) no-repeat center / 19px;
    position: absolute;
    right: 10px;
    top: 0;

    -webkit-transition: right 0.2s ease-in;
    -moz-transition: right 0.2s ease-in;
    -o-transition: right 0.2s ease-in;
    -ms-transition: right 0.2s ease-in;
    transition: right 0.2s ease-in;
}
.contents_wrap .contents .exhibition .top_btn_area a:hover::after {
    right: 0;
}
.contents_wrap .contents .exhibition .exhibition_box_area {
    padding-top: 56px;
    margin-bottom: 83px;
}
.contents_wrap .contents .exhibition .exhibition_box_area a {
    display: block;
    width: 620px;
    float: left;
    margin-bottom: 27px;
    margin-right: 40px;
}
.contents_wrap .contents .exhibition .exhibition_box_area a:nth-child(even) {
    margin-right: 0;
}
.contents_wrap .contents .exhibition .exhibition_box_area a .img_box {
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.contents_wrap .contents .exhibition .exhibition_box_area a .img_box img {
    width: 100%;
    height: 100%;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.contents_wrap .contents .exhibition .exhibition_box_area a:hover .img_box img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption {
    padding: 30px 0;
}
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption .badge {
    display: inline-block;
    min-width: 64px;
    background-color: #fff;
    border: 1px solid #1f5153;
    color: #1f5153;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1px;
    margin-bottom: 14px;
}
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption .title {
    font-size: 3.2rem;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
}
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl {
    margin-bottom: 10px;
}
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dt,
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dd {
    float: left;
    font-size: 1.4rem;
}
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dt {
    width: 42px;
    font-weight: 700;
}
.contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dd {
    width: calc(100% - 42px);
}




/* ****************** media Query **********************/
@media screen and (max-width: 768px){

    section {
        max-width: 100%;
        min-width: 0;
    }

    
    .contents_wrap {
        padding-top: 56px;
    }
    .contents_wrap .contents {
        padding-top: 52px;
    }
    .contents_wrap .contents .container {
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }
    .contents_wrap .contents .container .bg_txt {
        height: 13%;
        position: absolute;
        top: 32px;
        left: 100%;
        margin-top: 7.5%;

        -webkit-animation: bgTxtMoveMob 1.2s ease-out 0.3s forwards;
        -moz-animation: bgTxtMoveMob 1.2s ease-out 0.3s forwards;
        -o-animation: bgTxtMoveMob 1.2s ease-out 0.3s forwards;
        -ms-animation: bgTxtMoveMob 1.2s ease-out 0.3s forwards;
        animation: bgTxtMoveMob 1.2s ease-out 0.3s forwards;
    }




    /* ******** admission ******** */
    .contents_wrap .contents .container .bg_txt.guide {
        width: 54%;
        background: url(../images/sub/guide.svg) no-repeat center / 100%;
    }
    .contents_wrap .contents .admission h2 {
        font-size: 2.9rem;
        letter-spacing: 2.5px;
        padding: 57px 0 30px;
    }
    .contents_wrap .contents h3 {
        font-size: 1.8rem;
        word-break: keep-all;
        margin-bottom: 12px;
    }
    .contents_wrap .contents .admission table tr,
    .contents_wrap .contents .admission table th,
    .contents_wrap .contents .admission table td {
        font-size: 1.2rem;
        word-break: keep-all;
    }
    .contents_wrap .contents .admission table thead th {
        padding: 10px;
    }
    .contents_wrap .contents .admission table tbody th,
    .contents_wrap .contents .admission table tbody td {
        padding: 10px;
    }
    .contents_wrap .contents .admission table tbody td .strong {
        font-size: 1.2rem;
        font-weight: 400;
    }
    .contents_wrap .contents .admission ul li {
        font-size: 1.4rem;
        text-indent: -12px;
        padding-left: 10px;
        word-break: keep-all;
    }
    .contents_wrap .contents .admission ul li::before {
        margin-right: 8px;
    }
    .contents_wrap .contents .admission .booking {
        text-align: center;
        margin: 50px 0;
    }
    .contents_wrap .contents .admission .booking a {
        font-size: 1.4rem;
        background-color: #1f5153;
        color: #fff;
        padding: 13px 28px;

        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }
    .contents_wrap .contents .admission .booking a:hover {
        background-color: #1f5153;
        color: #fff;
    }
    .contents_wrap .contents .admission .title_red {
        margin: -6px 0 12px 0;
        word-break: keep-all;
    }
    .contents_wrap .contents .admission ul.last {
        margin-bottom: 72px;
    }




    /* ******** exhibition ******** */
    .contents_wrap .contents .container .bg_txt.exhibition {
        width: 94.7%;
        background: url(../images/sub/exhibition.svg) no-repeat center / 100%;
    }
    .contents_wrap .contents .exhibition h2 {
        font-size: 2.9rem;
        letter-spacing: 2.5px;
        padding: 57px 0 30px;
    }
    .contents_wrap .contents .exhibition .top_btn_area a {
        font-size: 1.4rem;
        padding-bottom: 14px;
        padding-right: 30px;
    }
    .contents_wrap .contents .exhibition .top_btn_area a::after {
        right: 0;

        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area {
        padding-top: 0;
        margin-bottom: 74px;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a {
        width: 100%;
        float: none;
        margin-bottom: 16px;
        margin-right: 0;
        padding-top: 16px;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a .img_box {
        position: relative;
        width: 100%;
        height: 60%;
        overflow: hidden;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a .img_box img {
        display: block;
        width: 100%;
        height: 100%;

        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a:hover .img_box img {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption {
        padding: 24px 0;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption .badge {
        min-width: 48px;
        font-size: 1rem;
        vertical-align: top;
        margin-bottom: 10px;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption .title {
        font-size: 1.8rem;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl {
        margin-bottom: 5px;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dt,
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dd {
        font-size: 1.2rem;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dt {
        width: 32px;
        font-weight: 500;
    }
    .contents_wrap .contents .exhibition .exhibition_box_area a figcaption dl dd {
        width: calc(100% - 32px);
    }
}




/* ************************* 애니메이션 **************************** */
/* bgTxtMove */
@-webkit-keyframes bgTxtMove {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 100px);
    }
}
@-moz-keyframes bgTxtMove {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 100px);
    }
}
@-o-keyframes bgTxtMove {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 100px);
    }
}
@-ms-keyframes bgTxtMove {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 100px);
    }
}
@keyframes bgTxtMove {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 100px);
    }
}

/* bgTxtMoveMob */
@-webkit-keyframes bgTxtMoveMob {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 50px);
    }
}
@-moz-keyframes bgTxtMoveMob {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 50px);
    }
}
@-o-keyframes bgTxtMoveMob {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 50px);
    }
}
@-ms-keyframes bgTxtMoveMob {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 50px);
    }
}
@keyframes bgTxtMoveMob {
    0% {
        left: 100%;
    }
    100% {
        left: calc(50% + 50px);
    }
}